@mixin custom-container {
    background-color: #DBF3DD;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 15px;
    @include media-breakpoint-down(sm) {
        padding: 0;
    }
}

@mixin title_text {
    word-wrap: break-word;
    display: block;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    margin: 20px 0;
}
