// Fonts
@import url('https://fonts.googleapis.com/css2?family=Trocchi&display=swap');

// Variables
@import 'variables';

// Mixins
@import 'mixins';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Layouts

    // Solution Table
    @import 'layout/solution';

    // Form
    @import 'layout/form';

    // List
    @import 'layout/list';

    // User
    @import 'layout/user';

    // Landing page
    @import 'layout/landing';

.none {
    text-align: center;
}
.flex-notes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    flex-wrap: wrap;
}
.link-title {
    color: $indigo;
}
.note {
    font-size: 10px;
    color: #ff92a5;
    line-height: 4;
}

