:root {
    --icons-size: 25px;
}
.icons-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons {
    font-size:var(--icons-size);
    background-color: #DDE5DB;
    display: inline;
    padding: 0 10px;
    border-radius: 10px;
}
.icons button {
    font-size:var(--icons-size);
}
.test-title {
    max-width: 70%;
    word-wrap: break-word;
}
.pagination {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-single {
    background-color: #d3d3d3;
    padding: 10px 0;
    margin-bottom: 30px;
    border-radius: 20px;
}
.list-asset {
    margin: 0 20px;
}
.list-wrapper h4 {
    margin: 0;
}
.main-title {
    background: url("https://i.pinimg.com/originals/76/44/02/764402435a946f947ed02f2b5bc5b17d.jpg");
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    opacity: 1;
}
.main-title > h1 {
    font-size: 10rem;
    width: 50vw;
    padding: 20px;
    text-align: center;
    background-color: #f6d743;
    color: black;
    mix-blend-mode: exclusion;
}

/*form*/

.form-container {
    background-color: #DBF3DD;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;

}
.form-wrapper {
    padding: 20px;
    width: 540px;
    background: #fff;
    border-radius: 10px;
}
.form {
    width: 100%;
    margin-bottom: 40px;
}

.form-title {
    display: block;
    font-size: 39px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    margin: 20px 0;
}

.form-input {
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #d9d9d9;
    color: #555555;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 52px;
    background: transparent;
    padding: 0 5px;
    margin-top: 40px;
}
.form-checkbox {
    opacity: 0.8;
    margin-top: 40px;
    font-size: 18px;
}
.form-input-invalid {
    border-bottom: 2px solid #e3342f !important;
}
.form-message-invalid {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #e3342f;
}
.form-input:focus {
    outline-style: none;
    box-shadow: none;
    border-bottom: 2px solid #649d66;
}
.form-input::placeholder{
    opacity: 0.3;
}
.form-button {
    margin: 40px 0;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #649d66;
    border-radius: 25px;
    box-shadow: 0 10px 30px 0 rgba(87, 184, 70, 0.5);
    transition: all 0.4s;
}
.form-button:hover {
    background-color: #f6d743;
    box-shadow: 0 10px 30px 0 rgba(220, 240, 33, 0.5);
}
.form-button:active {
    outline: none;
}

/*list*/
.list-container {
    background-color: #DBF3DD;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 5px;
}
.list-wrapper {
    padding: 20px;
    width: 70%;
    background: #fff;
    border-radius: 5px;
}
@media (max-width: 768px) {
    .list-wrapper{
        min-width: 100%;
    }
}
/*Solution table*/
.solution-table {
    width: 100%;
}
.solution-table th, .solution-table td {
   padding: 20px;
}
.solution-table th {
    background-color: #36304a;
    color: white;
}
.solution-table tr:hover {
    background-color: #87bf17 !important;
}
.solution-table tr:nth-child(even):not(:first-child) {
    border-bottom: 5px solid #36304a;
}
.solution-table tr:nth-child(odd):not(:first-child){
    background-color: #DBF3DD;
}

