.landing-title {
    background-color: #214f7e;
    max-height: 100vh;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .title {
        text-align: center;
    }
}
