.landing-title {
    background-color: #214f7e;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    opacity: 1;
    .title {
        text-align: center;
    }
}
