@import 'node_modules/bootstrap/scss/bootstrap.scss';
:root {
    --icons-size: 25px;
}
.list-container {
    word-break: break-word;
    background-color: #DBF3DD;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding: 15px;
    @include media-breakpoint-down(sm) {
        padding: 0;
    }
    .list-wrapper {
        padding: 40px 20px 20px;
        width: 70%;
        background: #fff;
        border-radius: 5px;
        .author {
            word-break: normal;
        }
        @include media-breakpoint-down(sm){
            width: 100vw;
        }
        h4 {
            margin: 0;
        }
        .list-title {
            max-width: 80%;
        }
        .icons-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .icons {
            font-size:var(--icons-size);
            background-color: #DDE5DB;
            display: inline;
            padding: 0 10px;
            border-radius: 10px;
        }
        .list-single {
            background-color: #d3d3d3;
            padding: 10px 0;
            margin-bottom: 30px;
            border-radius: 20px;
            .list-asset {
                margin: 0 20px;
                .counter {
                    white-space: nowrap
                }
            }
        }
    }
}
