
.user-wrapper {
    .user-title {
        @include title_text();
        text-align: center;
    }

    .stat {
        display: flex;
        justify-content: center;
        flex-direction: column;
        list-style: none;
        padding: 0 10px;

        li {
            margin-bottom: 20px;
            font-size: 1em;
            border: 3px solid black;
            display: flex;
            justify-content: space-between;
            line-height: 2.5;
            padding: 0 10px;

            &:first-child {
                border: none;
            }

            .active-language {
                font-size: 1.5em;
                line-height: 1;
            }
            @include media-breakpoint-down(sm) {
                font-size: 0.8em;
            }
        }
    }
}
